html {
    margin: 0;
    font-size: 10px;
    font-family: 'DM Sans', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

button {
    cursor: pointer;
}

.common-button {
    background-color: #fff;
    color: #173B58;
    border: solid 0.1rem #173B58;
    border-radius: 5.6rem;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    box-shadow: 0px 0px 12px #173B584D;
    height: 6.1rem;
    font-size: 1.8rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 96px;
    height: auto;
    max-width: 1440px;
    margin: auto;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 0rem;
}

.navbar-logo h1 {
    font-size: 2.25rem;
    font-weight: 500;
    color: #0D0D21;
    margin-top: 2.2rem;
}

.navbar button {
    width: 14.8rem;
}

.hero-page-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    min-height: 800px;
}

.hero-page-left-container {
    position: relative;
    color: #173B58;
    padding: 137px 0px 137px 96px;
    width: 720px;
}

.hero-page-left-container h1 {
    position: relative;
    max-width: 400px;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    letter-spacing: 2px;
}

.hero-page-left-container h1 img {
    position: absolute;
    left: 4px;
    top: 50px;
}

.hero-page-left-container h3 {
    font-size: 2.6rem;
    font-weight: 550;
    width: 800px;
}

.email-input-block {
    position: relative;
    margin: 50px 0px 40px 0px;
    height: 62px;
    width: 542px;
}

.email-input-block input {
    color: #173B58;
    height: inherit;
    width: inherit;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    padding-left: 2.6rem;
    border: 1px solid #173B58;
    border-radius: 100px;
}

.email-input-block input::placeholder {
    color: #173B58;
    opacity: 30%;
    font-size: 1.8rem;
    font-weight: 600;
}

.email-input-block input:focus {
    border: 1px solid #EDB031;
}


.email-input-block button {
    z-index: 1;
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #173B58;
    position: absolute;
    top: 0px;
    right: -40px;
    height: 62px;
    width: 229px;
    background-color: #EDB031;
    border-radius: 100px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.email-input-block button img {
    height: 32px;
    width: 32px;
}

.hero-page-left-container p {
    font-size: 2rem;
    font-weight: 500;
    height: 46px;
}

.sign-in-opt-btn {
    display: flex;
    gap: 12px;
}

.sign-in-opt-btn button{
    height: 62px;
    width: 148px;
    border-radius: 100px;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: #EDF2F7;
}

.sign-in-logo-one {
    height: 60%;
    width: 60%;
}

.sign-in-logo-two {
    height: 72%;
    width: 72%;
}

.hero-page-right-container {
    width: 720px;
    max-width: 900px;
    max-height: 684px;
}

.hero-page-right-content {
    position: relative;
    top: -100px;
    left: -80px;
}

.float-card-one {
    position: absolute;
    text-align: center;
    border: 1px solid #C3C4C6;
    border-radius: 16px;
    background-color: #fff;
    height: 112px;
    width: 234px;
    top: 510px;
    left: 450px;
    z-index: 1;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    letter-spacing: 1.2px;
}

.float-card-one img {
    position: absolute;
    top: 4px;
    left: 4px;
}

.float-card-one h1 {
    color: #173B58;
    font-weight: 700;
    font-size: 2.5rem;
}

.float-card-one h2 {
    color: #1E1E1E;
    font-weight: 400;
    font-size: 1.85rem;
    opacity: 80%;
}

.float-card-two {
    position: absolute;
    text-align: left;
    color: #1E1E1E;
    border: 1px solid #C3C4C6;
    border-radius: 16px;
    background-color: #fff;
    top: 610px;
    left: -60px;
    z-index: 1;
    padding: 28px 28px;
    width: 382px;
    height: 164px;
}

.float-card-two h2 {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
    opacity: 90%;
}

.person-detail {
    display: flex;
    justify-content: flex-start;
    gap: 6px;
    margin-top: 18px;
}

.person-detail h3 {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.03rem;
    padding: 4px 0px;
}

.person-detail h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    opacity: 70%;
    letter-spacing: 0.03em;   
}

.star-vector {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.glimpse-container {
    max-width: 1440px;
    margin: auto;
    height: auto;
    background-color: #F6F8FB;
    padding: 114px 122px;
}

.glimpse-header {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    color: #173B58;
    margin-bottom: 60px;
}

.glimpse-grid {
    display: flex;
    gap: 30px;
    width: 100%;
}

.glimpse-left-card {
    background-color: #fff;
    border-radius: 10px;
    width: 288px;
    padding: 14px 20px;
    color: #183C59;
    box-shadow: 0px 100px 80px 0px #00000022;
}


.glimpse-left-card h1 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 14px 0px;
}

.glimpse-left-card h3 {
    font-size: 1.4rem;
    font-weight: 400;
}

.icon-text-pair {
    display: flex;
    gap: 10px;
    justify-content: start;
}

.icon-text-pair.padding {
    padding: 3px 0px;
}

.icon-text-pair.padding.right {
    padding: 3px 40px;
}

.glimpse-left-card hr {
    background-color: #D9DBE9;
    margin-top: 12px;
    height: 1px;
    border: 0;
}

.glimpse-person-detail {
    display: flex;
    align-items: center;
    padding: 14px 0px 0px 0px;
    gap: 10px;
}

.glimpse-person-image {
    border-radius: 20px;
}

.glimpse-person-detail h2 {
    font-size: 1.4rem;
    font-weight: 700;
    width: 140px;
}

.glimpse-person-detail h4 {
    font-size: 1.2rem;
    font-weight: 400;
    width: 140px;
}

.glimpse-person-detail button {
    height: 30px;
    width: 30px;
    background-color: #EDF2F7;
    border: none;
    border-radius: 50%;
}

.glimpse-right-card {
    position: relative;
    background-image: url("../images/unsplash_Ju9DbmVFcAo.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    width: 100%;
}

.glimpse-right-card .play-btn {
    position: absolute;
    height: 9.2rem;
    width: 9.2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #173B58;
    border-radius: 100px;
    border: none;
    z-index: 1;
}

.glimpse-footer {
    margin: 30px 0px;
    background-color: #183C59;
    color: #fff;
    border-radius: 20px;
    padding: 48px 56px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.glimpse-footer h1 {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 2.2rem;
}

.glimpse-footer h4 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 0.02rem; 
}

.about-section {
    max-width: 1440px;
    margin: auto;
    padding: 100px 100px 0px 100px;
}

.about-heading {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.about-heading h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    letter-spacing: 0.04rem;  
    text-align: center;
    color: #173B58;
    letter-spacing: 0.3rem;
    margin: 0px 308px;
}

.about-heading span {
    margin: auto;
}

.about-content {
    color: #173B58;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.7rem;
    padding: 3rem 2rem;
}

.about-content a {
    color: #173B58;
}

.read-more {
    font-weight: 600;
}

.about-team {
    width: 100%;
    color: #173B58;
}

.about-team-member {
    display: flex;
    gap: 30px;
    margin: 40px 0px;
    background: linear-gradient(96.05deg, #96D1E320 45.21%, #D8E4D620 96.81%);
    border-radius: 20px;
    padding: 40px;
}

.about-team-member-content hr {
    margin: 10px 0px;
    background-color: #CCD6DA;
    height: 1px;
    border: 0;
}

.about-team-member-image {
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-team-member-image span {
    position: relative;
    left: 90%;
}

.team-member-detail {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.team-member-detail h2 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.646rem;
}

.team-member-detail h4 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.083rem;
}

.team-member-detail-right {
    display: flex;
    gap: 20px;
}

.team-member-detail-right button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

.linkedin-btn {
    background-color: #006699;
}

.email-btn {
    background-color: #173B58;
}

.team-member-loc {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px 0px;
}

.team-member-loc h4 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.083rem;
}

.team-member-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.7rem;
    padding: 10px 0px;
}

.article-section {
    max-width: 1440px;
    margin: auto;
    padding: 60px 40px 80px 40px;
}

.article-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #173B58;
}

.article-heading span {
    margin: auto;
}

.article-heading h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    letter-spacing: 0.04rem;
    text-align: center;
}

.article-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px 0px;
    gap: 10px;
}

.article-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 20px 0px;
}

.article-image {
    max-width: 100%;
}

.article-text {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3.2rem;
    text-align: center;
    color: #173B58;
    padding: 0px 10px;
    width: 400px;
}

.article-section button {
    width: 22.9rem;
    display: block;
    margin: auto;
}

.product-section {
    max-width: 1440px;
    margin: auto;
    background-color: #F6F8FB;
    display: flex;
    justify-content: space-between;
}

.product-left-content {
    padding: 30px 94px 78px 94px;
    color: #173B58;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 55%;
}

.product-left-content h3 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3.2rem;
    max-width: 400px;
}

.product-left-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    letter-spacing: 0.4rem;    
}

.product-right-content {
    max-width: 45%;
    width: 100%;
    position: relative;
    background-image: url("../images/product.jpg");
    background-position: center;
    background-size: cover;
}

.slider-image {
    position: relative;
}

.product-left-content button {
    width: 22.9rem;
}

.product-heading {
    display: flex;
    flex-direction: column;
    padding: 50px 0px 0px 0px;
}

.slider-dots {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.dot {
    width: 14px;
    height: 14px;
    border-radius: 100px;
    border: 1px solid #173B58;
}

.dot.active {
    background-color: #fff;
    border: none;
}

.school-section {
    max-width: 1440px;
    margin: auto;
    display: flex;
    padding: 150px 40px;
    gap: 60px;
    align-items: center;
}

.school-left-content {
    max-width: 55%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #173B58;
    padding: 2px 60px 2px 80px;
}

.school-left-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    letter-spacing: 0.2rem;
}

.school-left-content p {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3.6rem;
    letter-spacing: 0.1rem;    
}

.school-left-content button {
    width: 36rem;
}

.school-right-content {
    max-width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
}

.school-image-bg {
    background-color: #EDF2F7;
    border-radius: 50%;
    width: 489px;
    height: 489px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uos-section {
    max-width: 1440px;
    margin: auto;
    padding: 80px 78px 80px 120px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: #F6F8FB;
}

.uos-header-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    color: #173B58;
}

.uos-header-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    letter-spacing: 0.4rem;
}

.uos-header-content span {
    padding-top: 10px;
}

.uos-header {
    display: flex;
    justify-content: space-between;
}

.uos-arrows {
    display: flex;
    gap: 5px;
    align-items: center;
}

.arrow-icon {
    width: 62px;
    height: 62px;
    background-color: #EDF2F7;
    border-radius: 100px;
    border: none;
}

.uos-grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}


.uos-card {
    background-color: #fff;
    border-radius: 10px;
    width: auto;
    padding: 14px 18px;
    color: #183C59;
    box-shadow: 0px 5px 6px 0px #080F340F;
}


.uos-card h1 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 14px 0px;
}

.uos-card h3 {
    font-size: 1.4rem;
    font-weight: 400;
}

.uos-card hr {
    background-color: #D9DBE9;
    margin-top: 12px;
    height: 1px;
    border: 0;
}

.uos-person-imgage-container {
    width: 100%;
    position: relative;
}

.uos-person-img {
    border-radius: 20px;
    position: absolute;
    height: 40px;
    width: 40px;
    top: -20px;
}

.uos-person-img.img-one {
    z-index: 3;
    left: 0px;
}

.uos-person-img.img-two {
    z-index: 2;
    left: 10px;
}

.uos-person-img.img-three {
    z-index: 1;
    left: 20px;
}

.testimonial-section {
    max-width: 1440px;
    margin: auto;
    padding: 80px 120px;
}

@media (max-width: 1210px) {

    .about-heading h1 {
        margin: 0px 180px;
    }

    .team-member-detail {
        flex-direction: column;
        gap: 20px;
    }

    .product-left-content {
        padding: 30px 60px 78px 94px;
    }

}

@media (max-width: 945px) {

    .about-heading h1 {
        margin: 0px 50px;
    }

    .product-left-content {
        padding: 30px 60px 78px 40px;
    }

}

@media (max-width: 845px) {

    .glimpse-container {
        padding: 94px 100px;
    }

    .glimpse-grid {
        flex-direction: column;
        align-items: center;
    }

    .glimpse-left-card {
        width: auto;
    }

    .glimpse-right-card {
        height: 200px;
        width: 100%;
    }

    .glimpse-footer {
        margin: 25px 0px;
        padding: 44px 52px;
        gap: 25px;
    }
    
    .glimpse-footer h1 {
        font-size: 2.2rem;
    }
    
    .glimpse-footer h4 {
        font-size: 1.4rem;
    }

    .about-section {
        padding: 75px 75px 0px 75px;
    }

    .about-heading {
        margin-bottom: 40px;
    }

    .about-team-member {
        flex-direction: column;
        justify-content: center;
    }

    .product-section {
        flex-direction: column;
        gap: 20px;
    }

    .product-left-content {
        max-width: 100%;
        align-items: center;
        padding: 30px;
        gap: 10px;
    }

    .product-right-content {
        max-width: 100%;
        height: 350px;
    }

    .product-heading {
        align-items: center;
        padding: 15px 0px 0px 0px;
    }

    .product-left-content h3 {
        font-size: 2rem;
        max-width: 650px;
        text-align: center;
    }
    
    .product-left-content h1 {
        font-size: 3.6rem;
        letter-spacing: 0.3rem;    
    }

    .product-left-content button {
        margin-top: 10px;
    }

    .uos-header {
        flex-direction: column;
    }

    .uos-header-content h1 {
        font-size: 3.8rem;
        letter-spacing: 0.3rem;
    }

    .uos-arrows {
        align-self: end;
        margin-right: 20px;
    }

}

@media (max-width: 700px) {
    .navbar-logo h1 {
        display: none;
    }

    .about-section {
        padding: 60px 60px 0px 60px;
    }

    .about-heading h1 {
        font-size: 3.8rem;
        margin: 0px 40px;
    }
    
    .about-content {
        font-size: 1.8rem;
        line-height: 3.5rem;
    }

    .product-left-content h3 {
        font-size: 1.8rem;
    }
    
    .product-left-content h1 {
        font-size: 3.4rem;
        letter-spacing: 0.2rem;    
    }

    .uos-header-content h1 {
        font-size: 3.4rem;
        letter-spacing: 0.2rem;
    }

}

@media (max-width: 600px) {

    .glimpse-container {
        padding: 54px 100px;
    }

    .glimpse-header {
        font-size: 3rem;
        margin-bottom: 30px;
    }

    .glimpse-footer {
        margin: 20px 0px;
        padding: 40px 48px;
        gap: 20px;
    }
    
    .glimpse-footer h1 {
        font-size: 2rem;
    }
    
    .glimpse-footer h4 {
        font-size: 1.2rem;
    }

    .about-section {
        padding: 50px 40px 0px 40px;
    }

    .about-heading h1 {
        font-size: 3.6rem;
        margin: 0px 30px;
    }
    
    .about-content {
        font-size: 1.7rem;
        line-height: 3.3rem;
        padding: 2rem 2rem;
    }

    .team-member-detail {
        gap: 10px;
    }

    .team-member-loc {
        padding: 12px 0px;
    }

    .team-member-bio {
        font-size: 1.45rem;
        line-height: 3.2rem;
    }

    .product-left-content h3 {
        font-size: 1.6rem;
    }
    
    .product-left-content h1 {
        font-size: 3.2rem;    
    }

    .uos-header-content h1 {
        font-size: 3.2rem;
    }

    .uos-header-content {
        justify-content: center;
    }

    .uos-header-content span {
        display: none;
    }

}

@media (max-width: 500px) {

    .navbar {
        padding: 33px 40px;
    }

    .glimpse-container {
        padding: 40px 50px;
    }

    .glimpse-header {
        font-size: 2.8rem;
    }

    .glimpse-footer {
        padding: 32px 40px;
        gap: 15px;
    }
 
    .about-section {
        padding: 40px 20px 0px 20px;
    }

    .about-heading h1 {
        font-size: 3.2rem;
        margin: 0px 30px;
    }
    
    .product-left-content h1 {
        font-size: 3rem;    
    }

}